<!DOCTYPE html>
<html>
<head>
    <title>Welcome to ApnaGhar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Krub:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    <link rel="shortcut icon" href="./images/hrmlogo.svg">
    <link rel="stylesheet" type="text/css" href="/welcome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
      
    </style>
</head>
<body>

  <% if (user.role === 'admin') { %>
    <header class="header">
      <nav class="header-nav">
       <img src="../images/hrmlogo.svg" alt="ApnaGhar" class="hrmlogo">
          <div class="nav-items">
              <ul>
                  <li><a class="nav-links active" href="#hero">Home</a></li>
                  <li><a class="nav-links" href="/house-register">Add House</a></li>
                  <li><a class="nav-links " href="/stats">Stats</a></li>
                  <li><a class="nav-links" href="/logout" >Logout</a></li>
              </ul>
          </div>
      </nav>
  </header>
  <% } else { %>
  <header class="header">
    <nav class="header-nav">
     <img src="../images/hrmlogo.svg" alt="ApnaGhar" class="hrmlogo">
        <div class="nav-items">
            <ul>
                <li><a class="nav-links active" href="#hero">Home</a></li>
                <li><a class="nav-links rating" href="#feedback">Rate Us</a></li>
                <li><a class="nav-links" href="/bookmarked">Bookmarks</a></li>
                <li><a class="nav-links" href="/profile">Profile</a></li>
                <li><a class="nav-links" href="/logout" >Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
  <% } %>
<div id="profile">
    <p id="userName">Hi ,<br> <span><%= user.username %></span></p>
    <br>
    <p id="msg">Welcome</p>
</div>

<div id="preferenceForm">
    <p id="title"><span id="title1">I'm looking for a </span><span id="title2">Size</span><span id="title3">In location</span></p>
    <form id="pform" action="/dashboard/preference" method="GET">
         <input type="text" list="category" name="category" placeholder="House/flat" ng-model="category">
   	   	   <datalist id="category">
   	   	   	    <option value="House">
   	   	   	    <option value="Flat">
   	   	   </datalist>
         <input type="number" min="1" list="Size(BHK)" name="bedroom" placeholder="1 BHK"> 
    
         <datalist id="Size(BHK)">
                <option value="1">
                <option value="2">
                <option value="3">
                <option value="4">
                <option value="5">
               
        </datalist>
        <input type="text" list="localities" name="Locality" placeholder="Locality" ng-model="Locality">
        <datalist id="localities">
              <option value="Vijay Nagar">
              <option value="Sudama Nagar">
           <option value="palasia">
           <option value="Geeta bhawan">
           <option value="Rajwada">
           <option value="sapna sangita">
           <option value="Other">
        </datalist>
        <input type="submit" id="submitBtn" name="submit" style="display: none;">
    </form>
</div>
<div id="formbutton">
    <label for="submitBtn" class="btn btn-default Custom-style">Search</label>
</div>
<div id="feedback">
            <span>
            <form action="/feedback" method="POST">
              <button class="feedbackBtn" name="star" value="1" type="submit"><span class="glyphicon glyphicon-star stars0 " onclick="this.form.submit()"></span>
              <button class="feedbackBtn" name="star" value="2" type="submit"><span class="glyphicon glyphicon-star stars1 " onclick="this.form.submit()"></span>
              <button class="feedbackBtn" name="star" value="3" type="submit"><span class="glyphicon glyphicon-star stars2 " onclick="this.form.submit()"></span>
              <button class="feedbackBtn" name="star" value="4" type="submit"><span class="glyphicon glyphicon-star stars3 " onclick="this.form.submit()"></span>
              <button class="feedbackBtn" name="star" value="5" type="submit"><span class="glyphicon glyphicon-star stars4 " onclick="this.form.submit()"></span>
            </form></span>
</div>

</body>
<script type="text/javascript">
    $(document).ready(function(){
           
          $("#feedback").hide();
          $(".rating").click(function(){
              $("#feedback").toggle(400);
          })
           
           $(".stars0").hover(function(){
                $(".stars0").css("color","#ffff00");
           },
             function()
             {
                $(".stars0").css("color","#545656");
             }
           );
           $(".stars1").hover(function(){
                $(".stars0").css("color","#ffff00");
                $(".stars1").css("color","#ffff00");
           },
             function()
             {
                $(".stars0").css("color","#545656");
                $(".stars1").css("color","#545656");
             }
           );
           $(".stars2").hover(function(){
                $(".stars0").css("color","#ffff00");
                $(".stars1").css("color","#ffff00");
                $(".stars2").css("color","#ffff00");
           },
             function()
             {
                $(".stars0").css("color","#545656");
                $(".stars1").css("color","#545656");
                $(".stars2").css("color","#545656");
             }
           );
           $(".stars3").hover(function(){
                $(".stars0").css("color","#ffff00");
                $(".stars1").css("color","#ffff00");
                $(".stars2").css("color","#ffff00");
                $(".stars3").css("color","#ffff00");
           },
             function()
             {
                $(".stars0").css("color","#545656");
                $(".stars1").css("color","#545656");
                $(".stars2").css("color","#545656");
                $(".stars3").css("color","#545656");
             }
           );$(".stars4").hover(function(){
                $(".stars0").css("color","#ffff00");
                $(".stars1").css("color","#ffff00");
                $(".stars2").css("color","#ffff00");
                $(".stars3").css("color","#ffff00");
                $(".stars4").css("color","#ffff00");
           },
             function()
             {
                $(".stars0").css("color","#545656");
                $(".stars1").css("color","#545656");
                $(".stars2").css("color","#545656");
                $(".stars3").css("color","#545656");
                $(".stars4").css("color","#545656");
             }
           );
    });

    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/631a4d6054f06e12d893953c/1gcfbshqu';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();

</script>
</html>