.housebg{
  z-index: -9999;
  width: 100%;
  height: 100%;
}
.housebg img{
  position: absolute;
  z-index: -999;
  margin-top: 4%;
  width: 70%;
  height: 91.9%;
}

  #House-register {
    position: absolute;
        width: 26.7%;
        z-index: 1;
        height:85%;
        margin: 0% 70%;
        margin-top: 4.2%;
        padding-left: 20px;
        padding-right: 30px;
        background-color:#ffe9e9bd;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        padding-top: 3%;

  
    /* height: 100%;
    margin-top: 3px;
    margin-left: 68.5%;
    height: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #630047;
    border-radius: 5px; */
  }
  
  #Form h3 {
    color: green;
    margin-top: -15px;
  }
  
  #Form input[type="text"],
  #Form textarea,
  #Form input[type="number"],
  #Form input[type="rent"],
  #Form input[type="file"] {
    width: 100%;
  box-shadow: 1px 1px 1px 1px #212529;

    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #Form span {
    color: red;
  }
  
  #radio {
    margin-bottom: 10px;
  }
  
  #radiotxt {
    margin-left: 8px;
    padding-right: 21px;
  }
  
  #submit {
    padding: 10px 20px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #submit:hover{
    background-color:#439047;
  }
  
  #bckImage {
    margin-top: 20px;
  }
  
  #bckImage img {
    width: 100%;
  }
  
  *:focus{
          outline:none;
        }
  
      .form-row {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
  
    }
    .form-row label {
      margin-right: 8px;
      padding-right: 1px;
    }